
@font-face {
    font-family: 'mazzardm_medium';
    src: url("../fonts/MazzardM-Medium.otf");

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mazzardh_semibold';
    src: url("../fonts/MazzardH-SemiBold.otf");

    font-weight: normal;
    font-style: normal;

}

body 
{
    margin: 0;
  
}
#bar
{
    width:100%;
    height:90px;
    top:0px;
    position:sticky;
    font-family: 'mazzardm_medium';
    background-color: #2e2e33;
    min-height: 90px;
}

#logo
{
    margin-top:22.5px;
    float:left;
    margin-left: 100px;
    object-fit: cover;
    width: 45px;
    height: 45px;
}

#bar h2
{
    font-family: 'mazzardh_semibold';
    float:left;
    margin-top:33px;
    margin-left:30px;
    color: #ffffff;
}

#bar p
{
    float: left;
    margin-left:10px;
    margin-top:37px;
    color: #ffffff;
}

#nav 
{
    margin-right:100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    float: right;
	list-style: none;
    overflow: hidden;
}

#nav li
{
    display: inline;
}
#nav li :hover{
    background-color: #d4d4d1;
    color: #2e2e33;
}  

#nav li.active{
    color: #ffffff;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #395099;
    color: white; 
}

#nav a {
    color: #ffffff;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
#utable
{
    background: #f7f7f7;
    font-family: 'mazzardm_medium';
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
}

#utable th
{
    height: 50px;
}

#cuser 
{
    width: 1170px;
    background: #f7f7f7;
    padding-top:50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'mazzardm_medium';
    font-size: 150%;
}

#cuser img
{
    float:left;
    margin-left: 50px;
    object-fit: cover;
    width: 500px;
    height: 500px;
}

#info
{
    float:left;
    margin-left:50px;
}

#bio
{
    width: 1070px;
    margin-top:550px;
    margin-left: auto;
    margin-right: auto;
}

#photos
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    list-style: none;
    border-radius: 1px;

}

#photos li
{
    font-family: 'mazzardm_medium';
    margin: 10px;
    text-align: center;  
    font-size: 150%; 
}

#preset
{
    width: 780px;
    background: #f7f7f7;
    padding-left:100px;
    padding-right:100px;
    padding-top:50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#entity
{
    width: 1170px;
    background: #f7f7f7;
    padding-top:25px;
    padding-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'mazzardm_medium';
    font-size: 150%;
}

#entity img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    object-fit: cover;
    width: 700px;
    height: 700px;
}

#name
{
    font-family: 'mazzardm_medium';
    float:left;
    margin-left:250px;
    margin-bottom:50px;
}

#upload
{
    font-family: 'mazzardm_medium';
    float: right;
    margin-right:250px;
    margin-bottom:50px;
}

#abouttxt
{
    background: #f7f7f7;
    padding-left:100px;
    padding-right:100px;
    padding-top:50px;
    padding-bottom: 50px;
    width: 780px;
    font-family: 'mazzardm_medium';
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;

}
#abotxt
{
    background: #f7f7f7;
    width: 780px;
    font-family: 'mazzardm_medium';
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    margin-bottom: 50px;

}

#indx
{
    width: 780px;
    background: #f7f7f7;
    padding-left:100px;
    padding-right:100px;
    padding-top:50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

#indx img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  680px;
    height: 680px;
}